.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
}

form {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.buttons{
    display: flex;
}

button {
    margin: .5vw;
}

input {
    margin: 0 5px;
}

ul a {
    color:grey;
} 

.img {
    max-height: 50px;
    border: 2px solid white;
    display: inline;
}

