<div class="container mt-5">
    <div class="text-center" *ngIf="!registerMode"> 
        <h1>Encuentra tu Agente de Confianza.</h1>
        <p class="lead">Ven y descubre la mayor Base de Datos Inmobiliarios de Venezuela</p>
        <div class="text-center">
            <button 
            class="btn-primary btn-lg mr-2"
            (click)="registerToggle()">
            Register</button>
            <button class="btn-info btn-lg mr-2">Info</button>
        </div>
    </div>

    

    <div class="container" *ngIf="registerMode">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
            </div>
        </div>
    </div>
</div>

